<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= config["site_name"] %></title>
        <meta name="description" content="<%= config["description"] %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="學生計算機年會"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://sitcon.org/2014/"/>
        <meta property="og:image" content="http://sitcon.org/2014/icon-2014-special.jpg"/>
        <meta property="og:site_name" content="學生計算機年會"/>
        <meta property="og:description" content="<%= config["description"] %>"/>

        <%= partial "justfont" %>
        <link rel="stylesheet" href="stylesheets/main.css">
        <%= bower_tag "modernizr/modernizr" %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <%= content_for?(:page_content) ? yield(:page_content) : yield %>

        <%= partial "analytics" if enable_analytics? %>
        <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
        <%= bower_tag "sections.js/dist/sectionsjs.min" %>
        <%= bower_tag "zepto/zepto.min" %>
        <%= javascript_include_tag "zepto.scrollto" %>
        <%= javascript_include_tag "main" %>
    </body>
</html>
