<section id="landing" class="section">
  <%= render "partials/landing" %>
</section>
<header id="header" class="section">
  <%= render "partials/navigation" %>
</header>
<section id="about" class="section as-one-page">
  <%= render "partials/about" %>
</section>
<section id="location" class="section as-one-page">
  <%= render "partials/location" %>
</section>
<section id="speaker" class="section as-page">
  <%= render "partials/speakers" %>
</section>
<section id="schedule" class="section as-page">
  <%= render "partials/schedule" %>
</section>
<section id="sponsor" class="section as-page">
  <%= render "partials/sponsor" %>
</section>
<section id="team" class="section as-page">
  <%= render "partials/team" %>
</section>
