<% session = content_for :session %>
<article id="<%= content_for :session_id %>" class="talk-type session block">
  <h4>
    <%= session["title"] %>
    <div class="sub-header">
      <% session["speaker"].each do |id| %>
      <% # Some hack to tag panel host %>
      <% if id and id != 20 %>
        <span class="speaker"><%= speakers[id]["name"] %></span>
      <% elsif id == 20 %>
        <span class="host speaker"><%= speakers[id]["name"] %>（主持人）</span>
      <% end %>
      <% end %>
    </div>
  </h4>
  <div class="detial">
    <%= session["detial"] %>
  </div>
  <div class="meta">
    <% session["tags"].each do |tag| %>
    <span class="tag <%= "#{tag}".downcase %>">
      <div class="inner"><%= schedule_tag(tag) %></div>
    </span>
    <% end %>
  </div>
</article>
